@tailwind base;
@tailwind components;
@tailwind utilities;

#textfield{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

#button-edit{
    margin-right: 10px;
}
